/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }


/*
#sim-wrapper{
	background-color: rgba(195,204,213,1);
	float: left;
	height: auto;
	width: 100%;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
#sim-wrapper-newsletter{
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
*/

.sim-row{
	position: relative;
	background-size: cover;
	margin: 0 auto; 
	background-position: center;
}

.sim-row a{
	color: inherit;
	/*text-decoration: none;*/
}

.sim-row-header1{
	width: 100%;
}

.sim-row-header1-nav-logo{
	width: 150px;
	height: 80px;
	text-align: center;
	margin-left: 50px;
	overflow: hidden;
}
.sim-row-header1-nav-logo img {
	height: 80px;
	width: auto;
}
.sim-row-header1-nav-links{
	float: right;
	height: 80px;
	margin-right: 50px;
}
.sim-row-header1-nav-links a{
	color: rgba(63,141,191,1);
	text-decoration: none;
	margin-top: 30px;
	float: left;
	margin-right: 25px;
	font-size: 15px;
}
.sim-row-header1-nav-links a:hover {
	text-decoration: underline;
}

.sim-row-header1-nav-links-contact{
	float: left;
	margin-top: 25px;
	background-color: rgba(63,141,191,1);
	line-height: 1.6em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header1-nav-links-contact:hover {
	background-color: rgba(150,111,177,1);
}
.sim-row-header1-nav-links-contact a {
	color: rgba(255,255,255,1);
	margin: 0px;
	display: block;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.sim-row-header1-nav-links-contact a:hover {
	text-decoration: none;
}
.sim-row-header1-slider{
	width: 100%;
}

.sim-row-header1-slider::after {
    content: '';
    display: block;
    clear: both;
}

.sim-row-header1-slider-left{
	float: left;
	width: 50%;
	box-sizing: border-box;
	position: relative;
}
.sim-row-header1-slider-left-title{
	font-size: 26px;
text-align: left;}
.sim-row-header1-slider-left-subtitle{
	font-size: 20px;
	font-weight: 300;
	text-align: left;
}
.pd20px{
	padding: 20px;
}
.sim-row-header1-slider-left-text{

	margin-top: 25px;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-align: left;

}


.sim-row-header1-slider-right{
	float: left;
	position: relative;
	box-sizing: border-box;
  width: 50%;
  text-align: right;
}
.sim-row-header1-slider-right img {
}
.sim-row-header2{
	width: 100%;
}
.sim-row-header2-nav{
	width: 100%;
	float: left;
	background-color: rgba(255,255,255,1);
	height: 80px;
}
.sim-row-header2-nav-logo{
	width: 150px;
	float: left;
	height: 80px;
	text-align: center;
	margin-left: 50px;
	overflow: hidden;
}
.sim-row-header2-nav-logo img {
	height: 80px;
	width: auto;
}




.sim-row-header2-slider{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.sim-row-header2-slider-top{
	width: 100%;
	text-align: center;
}
.sim-row-header2-slider-top-title{

	font-size: 26px;
	margin-top: 25px;
}
.sim-row-header2-slider-top-text{

	margin-top: 15px;
	line-height: 1.6em;
	font-weight: 300;
	margin-bottom: 15px;
}


.sim-row-header2-slider-bottom{
	text-align: center;
	vertical-align:middle;
}


.sim-row-header3{
  width: 100%;
  text-align: center;
  word-spacing: -4px;
}

.sim-row-header3::after{
    content: '';
    display: block;
    clear: both;
}

.sim-row-header3 img{
}


.sim-row-content1{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
}
.sim-row-content1-tab{
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 0 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.sim-row-content1-tab-icon{
	background-color: rgba(63,141,191,1);
	height: 60px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
	color: rgba(255,255,255,1);
	line-height: 60px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	font-size: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sim-row-content1-tab-icon i {
	line-height: 60px;
}

.sim-row-content1-tab:hover .sim-row-content1-tab-icon {
	background-color: rgba(150,111,177,1);
}
.sim-row-content1-tab-title{
	margin-top: 20px;
	font-size: 18px;
	color: #1f4f80;
}
.sim-row-content1-tab-text{
	font-size: 14px;
	color: #666666;
	margin-top: 5px;
}
.sim-row-content2{
	float: left;
	width: 100%;
}
.sim-row-content2-left {
	float: left;
	width: 400px;
	height: 400px;
	text-align: right;
	overflow: hidden;
}
.sim-row-content2-left img {
	height: 400px;
	width: auto;
}


.sim-row-content2-right{
	float: left;
	width: 400px;
	height: 400px;
}
.sim-row-content2-right-title{
	float: left;
	margin-top: 75px;
	font-size: 26px;
	color: #1f4f69;
}
.sim-row-content2-right-text{
	color: #656565;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
}
.sim-row-content2-right-button{
	float: left;
	margin-top: 25px;
	width: 300px;
	margin-left: 50px;
}
.sim-row-content2-right-button a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 1.6em;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content2-right-button a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content3{
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content3-title{
	float: left;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content3-center{
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.sim-row-content3-center-tab{
	float: left;
	height: 240px;
	width: 180px;
	background-color: rgba(242,244,250,1);
	margin-right: 30px;
}
.sim-row-content3-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content3-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content3-center-tab-image img {
	height: 180px;
	width: auto;
}

.sim-row-content3-center-tab-text{
	float: left;
	width: 180px;
	height: 60px;
	background-color: rgba(242,244,250,1);
	color: #656565;
	line-height: 60px;
	text-align: center;
		-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.sim-row-content4{
	float: left;
	width: 100%;
}
.sim-row-content4-title{
	float: left;
	width: 650px;
	margin-left: 75px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
	margin-top: 50px;
	}
.sim-row-content4-content{
	float: left;
	width: 650px;
	margin-left: 75px;
	margin-top: 25px;
	color: #656565;
	float: left;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-align: center;
	}
.sim-row-content4-images{
	float: left;
	width: 100%;
	margin-top: 50px;
	height: 225px;
	overflow: hidden;
}
.sim-row-content4-images img {
	height: auto;
	width: 800px;
}
.sim-row-content5{
	float: left;
	width: 100%;
}
.sim-row-content5-left{
	float: left;
	width: 400px;
	height: 400px;
}
.sim-row-content5-left-title{
	float: left;
	width: 300px;
	margin-top: 75px;
	font-size: 26px;
	color: #1f4f69;
	margin-left: 50px;
}
.sim-row-content5-left-text{
	color: #656565;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
}
.sim-row-content5-left-button{
	float: left;
	margin-top: 25px;
	width: 300px;
	margin-left: 50px;
}
.sim-row-content5-left-button a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 1.6em;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content5-left-button a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content5-right {
	float: left;
	width: 400px;
	height: 400px;
	text-align: left;
	overflow: hidden;
}
.sim-row-content5-right img {
	height: 400px;
	width: auto;
}
.sim-row-content6{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.sim-row-content6-center{
	width: 100%;
	text-align: center;
}

.sim-row-content6-center::after {
    content: '';
    display: block;
    clear: both;
}

.sim-row-content6-center-tab{
	width: 150px;
	text-align: center;
	display: inline-block;
}
.sim-row-content6-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content6-center-tab-image{
	width: 60px;
	font-size: 30px;
	color: rgba(130,207,204,1);
	line-height: 60px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sim-row-content6-center-tab-image i {
	line-height: 60px;
}

.sim-row-content6-center-tab-text{
	color: rgba(255,255,255,1);
	font-size: 18px;
	margin-top: 15px;
	width: 150px;
}
.sim-row-content7{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
}
.sim-row-content7-title{
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content7-center{
	display: inline-block;
	margin-top: 40px;
	width: 100%;
}
.sim-row-content7-center-tab{
	text-align: center;
	width: 180px;
	padding-bottom: 15px;
	margin: 10px;
	display: inline-block;
}
.sim-row-content7-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content7-center-tab-image{

	text-align: center;
	overflow: hidden;
}
.sim-row-content7-center-tab-image img {
	height: 180px;
	width: auto;
}
.sim-row-content7-center-tab-title{

	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;

}
.sim-row-content7-center-tab-text {

	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;

}
.sim-row-content8{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content8-title{

	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content8-center{
	margin-top: 40px;
	text-align: center;
}
.sim-row-content8-center-tab{
	margin:10px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: left;
}


.sim-row-content8-center-tab-image{
	text-align: center;
	overflow: hidden;
}

.sim-row-content8-center-tab-title{
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	padding: 0 10px;
}
.sim-row-content8-center-tab-text {
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;
	padding: 0 10px;
}
.sim-row-content9{
	width: 100%;
	background-color: rgba(255,255,255,1);
}
.sim-row-content9-title{
	width: 650px;
	margin-left: 75px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
	margin-top: 50px;
	}
.sim-row-content9-content{
	float: left;
	width: 650px;
	margin-left: 75px;
	margin-top: 25px;
	color: #656565;
	float: left;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-align: center;
	}
.sim-row-content9-images{
	float: left;
	width: 100%;
	margin-top: 50px;
	height: 225px;
	overflow: hidden;
}
.sim-row-content9-images img {
	height: auto;
	width: 800px;
}
.sim-row-content10{
	background-color: rgba(130,207,204,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content10-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
}
.sim-row-content10-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content10-center-tab{
	float: left;
	width: 180px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content10-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content10-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(242,244,250,1);
	overflow: hidden;
}
.sim-row-content10-center-tab-image img {
	height: 180px;
	width: auto;
}
.sim-row-content10-center-tab-title{
	float: left;
	width: 150px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content10-center-tab-text {
	float: left;
	width: 150px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content11{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
}
.sim-row-content11-title{

	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content11-center{
	margin-top: 40px;
}
.sim-row-content11-center-tab{
	display: inline-block;
	padding: 20px;
}
.sim-row-content11-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content11-center-tab-image{
	display: inline-block;
	text-align: center;
	background-color: rgba(242,244,250,1);
	overflow: hidden;
}
.sim-row-content11-center-tab-image img {
	height: auto;
}
.sim-row-content11-center-tab-title{
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
}
.sim-row-content11-center-tab-text {
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;
}
.sim-row-content11-center-tab-text-link {

	margin-top: 15px;
}
.sim-row-content11-center-tab-text-link a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content11-center-tab-text-link a:hover {
}
.sim-row-content12{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content12-title{

	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content12-center{
	
	margin-top: 10px;
	text-align: center;
}

.sim-row-content12-center-tab{
	display: inline-block;
	width: 285px;
	padding-bottom: 20px 10px;
	text-align: left;
	margin: 0 10px;

}
.sim-row-content12-center-tab:nth-child(even) {
	margin-right: 0px;
}

.sim-row-content12-center-tab-icon {
	height: 40px;
	width: 40px;
	color: rgba(128,147,161,1);
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}
.sim-row-content12-center-tab-icon i {
	line-height: 40px;
}

.sim-row-content12-center-tab-title{
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	height: 40px;
	line-height: 40px;
}
.sim-row-content12-center-tab-text {
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;

}
.sim-row-content13{
	float: left;
	width: 100%;
	background-color: rgba(130,207,204,1);
	padding-top: 50px;
	padding-bottom: 50px;
}
.sim-row-content13-center {
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 10px;
}

.sim-row-content13-center-left{
	float: left;
}
.sim-row-content13-center-left-title{
	font-size: 20px;
	color: rgba(255,255,255,1);
	line-height: 30px;
}
.sim-row-content13-center-left-subtitle{
	font-size: 16px;
	color: rgba(255,255,255,0.5);
	line-height: 20px;
}
.sim-row-content13-center-right{
	float: right;
}
.sim-row-content13-center-right a {
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 40px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	background-color: rgba(255,255,255,0);
	border: 1px solid rgba(255,255,255,1);
}
.sim-row-content13-center-right a:hover {
	background-color: rgba(255,255,255,0.2);
}
.sim-row-content14{
	float: left;
	width: 100%;
	background-color: rgba(53,57,70,1);
	padding-top: 25px;
	padding-bottom: 25px;
}
.sim-row-content14-center{
	width: 100%;
	padding: 0 50px;
	overflow: hidden;
  box-sizing: border-box;
}
.sim-row-content14-center-left{
	float: left;
	width: 50%;
}
.sim-row-content14-center-left-title{
	color: #747885;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sim-row-content14-center-left-text{
	color: #b9bcc5;
	font-size: 14px;
	line-height: 1.6em;
}
.sim-row-content14-center-right{
	float: right;
	width: 50%;
}
.sim-row-content14-center-right-title{
	color: #747885;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sim-row-content14-center-right-row{
	color: #b9bcc5;
	font-size: 14px;
	line-height: 1.6em;
	float: left;
	width: 100%;
}
.sim-row-content14-center-right-type{
	float: left;
	width: 80px;
	font-weight: 600;
}
.sim-row-content14-center-right-content{
	float: right;
	width: 210px;
}
.sim-row-content15{
	background-color: rgba(53,57,70,1);
	float: left;
	width: 100%;
	height: 80px;
}
.sim-row-content15-center{
	float: left;
	width: 600px;
	margin-left: 100px;
}
.sim-row-content15-center-left{
	float: left;
	width: 200px;
	overflow: hidden;
	}
.sim-row-content15-center-left img {
	height: 80px;
	width: auto;
}
.sim-row-content15-center-right{
	float: right;
	color: #b9bcc5;
	font-size: 14px;
	line-height: 80px;
	width: 300px;
	text-align: right;
	}


.sim-row-header3-slider {
	float: left;
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
    display: inline-block;
}

.sim-row-header4-slider {
	float: left;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    display: inline-block;
}


.sim-row-header6-slider {
	float: left;
    box-sizing: border-box;
    width: 16.66%;
    text-align: center;
    display: inline-block;
}
/****************字體******************/

.NotoSans{font-family: 'Noto Sans TC', sans-serif;}
.SourceSans{font-family: 'Source Sans Pro','Noto Sans TC', sans-serif;}
.SourceSerif{font-family: 'Source Serif Pro','Noto Sans TC', sans;}
.MicrosoftJhengHei{font-family: 'Microsoft JhengHei', sans-serif;}
.serif{font-family:serif;}



/*media screen max-width: 900px*/

@media only screen and (max-width: 900px){
.sim-row-header4-slider{
  width: 50%;  
}

.sim-row-header3-slider{
  width: 100%;  
}

.sim-row-header6-slider {
  width: 50%;  
}

}

/*media screen max-width: 420px*/

@media only screen and (max-width: 420px){


	.sim-row-content1-tab{
	  width: 100%;
	}

	.sim-row-header1-slider-left , .sim-row-header1-slider-right{
	  width: 100%;
	}

	.sim-row-header1-slider-left-title , .sim-row-header1-slider-left-subtitle{
	  width: 100%;
	  margin-left: 0;
	  text-align: center;
	}

	.sim-row-header1-slider-left-text{
	  width: 100%;  
	  margin-left: 0;
	  padding: 0 20px;
	  box-sizing: border-box;
	}

	.sim-row-content7-center-tab{
	    width: 100%;  
	  margin-left: 0;
	  padding: 0 20px;
	  box-sizing: border-box;
	}

	.sim-row-header3-slider{
	  width: 100%;  
	}

	.sim-row-header4-slider{
	  width: 100%;  
	}

	.sim-row-header6-slider {
	  width: 100%;  
	}


}




/****************特殊樣式*****************/

.padding5{
	padding: 5px;
	box-sizing: border-box;
}

.padding10{
	padding: 10px;
	box-sizing: border-box;
}

.paddingtm5{
	padding: 5px 0;
	box-sizing: border-box;
}

.paddingtm10{
	padding: 10px 0;
	box-sizing: border-box;
}

.paddinglr5{
	padding: 0 5px;
	box-sizing: border-box;
}

.paddinglr10{
	padding: 0 10px;
	box-sizing: border-box;
}
.paddingt5{
	padding-top: 5px;
	box-sizing: border-box;
}

.paddingt10{
	padding-top: 10px;
	box-sizing: border-box;
}

.paddingl5{
	padding-left: 5px;
	box-sizing: border-box;
}

.paddingl10{
	padding-left: 10px;
	box-sizing: border-box;
}

.paddingr5{
	padding-right: 5px;
	box-sizing: border-box;
}

.paddingr10{
	padding-right: 10px;
	box-sizing: border-box;
}

.paddingb5{
	padding-bottom: 5px;
	box-sizing: border-box;
}

.paddingb10{
	padding-bottom: 10px;
	box-sizing: border-box;
}

.padding50{
	padding: 50px;
	box-sizing: border-box;
}

.paddingtop150{
	padding-top: 150px;
}

/******/

/*使內容置中*/

