
// 雲端字型(如果沒有使用字型可拿掉)
// @import './_rwd-content-fonts'

.sim-row
  position: relative
  background-size: cover
  margin: 0 auto
  background-position: center
  line-height: 0
  -webkit-align-items: center
  -webkit-justify-content: center
  align-items: center
  justify-content: center
  > *
    p
      line-height: 1.8em
      margin: 0
  ul
    line-height: 1.8em
  a
    color: inherit
    text-decoration: none
    &.imglink
      line-height: 0
      display: block






.title
  font-size: 26px
  text-align: left



.pd20px, .mg20px
  padding: 20px
  box-sizing: border-box



////////////////////


.sim-row-box
  width: 100%
  margin: 0 auto
  overflow: hidden
  text-align: center
  line-height: 0
  align-items: center
  justify-content: center
  font-size: 0
  letter-spacing: 0


.sim-row-header




.column1
  width: 100%

.column2
  box-sizing: border-box
  width: 50%
  text-align: center
  display: inline-block
  vertical-align: top
  position: relative

.column3, .column3-nowrap
  box-sizing: border-box
  width: 33.33%
  text-align: center
  display: inline-block
  vertical-align: top
  position: relative

.column4
  box-sizing: border-box
  width: 25%
  text-align: center
  display: inline-block
  background-size: cover
  vertical-align: top
  position: relative

.column5
  box-sizing: border-box
  width: 20%
  text-align: center
  display: inline-block
  vertical-align: top
  position: relative

.column6,.column6-nowrap
  box-sizing: border-box
  width: 16.66%
  text-align: center
  display: inline-block
  vertical-align: top
  position: relative




// 字體

.NotoSans
  font-family: 'Noto Sans TC', sans-serif

.SourceSans
  font-family: 'Source Sans Pro','Noto Sans TC', sans-serif

.SourceSerif
  font-family: 'Source Serif Pro','Noto Sans TC', sans

.MicrosoftJhengHei
  font-family: 'Microsoft JhengHei', sans-serif

.serif
  font-family: serif

.OpenSans
  font-family: 'Open Sans','Noto Sans TC', sans

.Oxygen
  font-family: 'Oxygen','Noto Sans TC', sans

.Andika
  font-family: 'Andika','Noto Sans TC', sans

.ReemKufi
  font-family: 'Reem Kufi','Noto Sans TC', sans

.Marcellus
  font-family: 'Marcellus','Noto Sans TC', sans

.Crimson
  font-family: 'Crimson Text'

.displaySMALL900, .displaySMALL400
  display: none


//UL LI併排
.sideBySide li
  display: inline-block
  vertical-align: top


// 特殊樣式

.padding5
  padding: 5px
  box-sizing: border-box

.padding10
  padding: 10px
  box-sizing: border-box

.padding50
  padding: 50px
  box-sizing: border-box

.radiusAll
  border-radius: 100vh

.radius5
  border-radius: 5px

.radius10
  border-radius: 10px

.border_dashed, .border_dotted
  border: 1px dashed #ccc

.border_solid
  border: 1px solid #ccc
.bgspan
  display: inline-block

.hoverOpacity0
  transition: all 0.3s
  &:hover
    opacity: 0

.hoverOpacity50
  transition: opacity 0.3s
  &:hover
    opacity: 0.5

.hoverOpacity100
  transition: opacity 0.3s
  &:hover
    opacity: 0

.hoverScale12
  transition: transform 0.5s
  &:hover
    transform: scale(1.1)

.hoverRotate7
  transition: transform 0.5s
  &:hover
    transform: rotate(7deg)

.hoverScaleX
  transition: transform 0.5s
  &:hover
    transform: scaleX(-1)
    
.hoverTranslateX
  overflow: hidden
  >*
    transition: transform 0.5s
  &:hover
    >*
      transform: translateX(100%)

@keyframes animation_ScaleX
  0%
    background-size: 100% 100%
  50%
    background-size: 0% 100%
  100%
    background-size: 100% 100%

@keyframes animation_ScaleX_
  0%
    background-size: 100% 100%
  50%
    background-size: 0% 100%
  100%
    background-size: 100% 100%

@keyframes animation_ScaleXImage
  0%
    transform: scaleX(1)
  50%
    transform: scaleX(0)
  100%
    transform: scaleX(0)

@keyframes animation_ScaleXImage_
  0%
    transform: scaleX(0)
  50%
    transform: scaleX(0)
  100%
    transform: scaleX(1)

.hoverScaleX_opacity

  animation: animation_ScaleX_ 1s 1
  background-position: center
  background-repeat: no-repeat

  >*
    animation: animation_ScaleXImage_ 1s 1
  &:hover
    animation: animation_ScaleX 1s 1
    >*
      animation: animation_ScaleXImage 1s 1 forwards


.animation_fade
  animation: animation_fade 2s infinite ease-in-out

@keyframes animation_fade
  0%
    opacity: 1

  10%
    opacity: 0

  50%
    opacity: 0

  60%
    opacity: 1


.animation_fade_
  animation: animation_fade_  2s infinite ease-in-out
  opacity: 0

@keyframes animation_fade_
  0%
    opacity: 0

  10%
    opacity: 1

  50%
    opacity: 1

  60%
    opacity: 0


.animation_fade50
  animation: animation_fade50  2s infinite ease-in-out
  opacity: 0

@keyframes animation_fade50
  0%
    opacity: 0

  10%
    opacity: 0.5

  50%
    opacity: 0.5

  60%
    opacity: 0

.textDecoration a
  text-decoration: underline


div[decode="absolute-box"]
  max-width: 1200px
  .absolute-contrnt
    position: absolute




@media only screen and (max-width: 1024px)
  .displayBIG900
    display: none !important
  .displaySMALL900
    display: block
  .column1
    display: inline-block
  .column2
    width: 100%
  .column3
    width: 100%
  .column3-nowrap
    width: 33.33%
  .column4
    width: 50%

  //forGQ模板

  div[decode="absolute-box"]
    .absolute-contrnt
      position: static
      margin: 0 auto 10px auto
      padding: 8px
      min-width: 0 !important
      box-sizing: content-box
      p
        position: static !important
        text-align: left !important

.closeXX
  width: 33px
  height: 33px
  position: absolute
  right: 0px
  top: 2px
  cursor: pointer
  overflow: hidden
  text-indent: -9999px
  border: none
  &::before, &::after
    content: ''
    display: block
    height: 1px
    width: 24px
    position: absolute
    top: 9px
    left: 4px
    background-color: #666
  &::after
    transform: rotate(-45deg)
  &::before
    transform: rotate(45deg)


// 當手機為直立又可視寬在1024以下

@media screen and (orientation: portrait) and (max-width: 1024px)
  .ParallaxScrolling
    background-attachment: scroll !important
  .sim-row , .sim-row > *
    background-attachment: scroll !important
  .column2
    width: 100%


@media only screen and (max-width: 420px)
  .column3, .column4, .column6, .column3-nowrap
    width: 100%
  .column6-nowrap
    width: 50%
  .displayBIG400
    display: none !important
  .displaySMALL400
    display: block


