/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }

/* cyrillic-ext */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(https://fonts.gstatic.com/s/andika/v7/Wav9Vgl9IRoV-aOEDH24MfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(https://fonts.gstatic.com/s/andika/v7/duDXp9Vh61DhcoRoQdOLKvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(https://fonts.gstatic.com/s/andika/v7/c4XRzgkqk7i8i6UPski0w_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(https://fonts.gstatic.com/s/andika/v7/fgsBU0qS_anaa-UmGCEdwvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(https://fonts.gstatic.com/s/andika/v7/hqQcL6we-D2Rz2PEMZTt1g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus'), local('Marcellus-Regular'), url(https://fonts.gstatic.com/s/marcellus/v4/MgbJB3ztDl2YuNvekZ0ENBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus'), local('Marcellus-Regular'), url(https://fonts.gstatic.com/s/marcellus/v4/FJNab1jzp1t7ctjNl8ugHFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v5/IIPDrwV5KNJo5-LaFlLy2fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



/*
#sim-wrapper{
	background-color: rgba(195,204,213,1);
	float: left;
	height: auto;
	width: 100%;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
#sim-wrapper-rwd{
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
*/

.sim-row{
	position: relative;
	background-size: cover;
	margin: 0 auto; 
	background-position: center;
  display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  line-height: 0;
  -webkit-align-items: center;
  -webkit-justify-content: center;
	align-items: center;
	justify-content: center;
}

.sim-row > * > *{
  line-height: 1.6em
}

.sim-row a{
	color: inherit;
	text-decoration: none;
}

.sim-row a.imglink{
  line-height: 0;
  display: block;
}

.sim-row-header1{
	width: 100%;
}


.sim-row-header1-slider{
	width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;

  -webkit-align-items: center;
  -webkit-justify-content: center;
	align-items: center;
	justify-content: center;
}

.sim-row-header1-slider::after {
    content: '';
    display: block;
    clear: both;
}

.sim-row-header1-slider-left{
	box-sizing: border-box;
	background-size: cover;
}
.sim-row-header1-slider-left-title{
	font-size: 26px;
text-align: left;}
.sim-row-header1-slider-left-subtitle{
	font-size: 20px;
	font-weight: 300;
	text-align: left;
}
.pd20px{
	padding: 20px;
  box-sizing: border-box;
}
.mg20px{
  padding: 20px;
  box-sizing: border-box;
}

.sim-row-header1-slider-left-text{
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-align: left;

}


.sim-row-header1-slider-right{
	box-sizing: border-box;
  background-size: cover;
}
.sim-row-header1-slider-right img {
}
.sim-row-header2{
	width: 100%;
}




.sim-row-header2-slider{
	width: 100%;
	box-sizing: border-box;
}
.sim-row-header2-slider-top{
	width: 100%;
	text-align: center;
}
.sim-row-header2-slider-top-title{

	font-size: 26px;
	margin-top: 25px;
}
.sim-row-header2-slider-top-text{

	margin-top: 15px;
	line-height: 1.6em;
	font-weight: 300;
	margin-bottom: 15px;
}


.sim-row-header2-slider-bottom{
	text-align: center;
	vertical-align:middle;
}


.sim-row-header3{
  width: 100%;
  text-align: center;
  word-spacing: -4px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: center;
  -webkit-justify-content: center;

	align-items: center;
	justify-content: center;
}

.sim-row-header3::after{
    content: '';
    display: block;
    clear: both;
}

.sim-row-header3 img{
}


.sim-row-content1{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
}
.sim-row-content1-tab{
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 0 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
}



.sim-row-content7{
	width: 100%;
	text-align: center;
}
.sim-row-content7-title{
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content7-center{
	display: inline-block;
	margin-top: 40px;
	width: 100%;
}
.sim-row-content7-center-tab{
	text-align: center;
	padding-bottom: 15px;
	display: inline-block;
}
.sim-row-content7-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content7-center-tab-image{

	text-align: center;
	overflow: hidden;
}

.sim-row-content7-center-tab-title{

	color: #00ACCC;

	transition: all 0.5s;
	margin-top: 15px;

}
.sim-row-content7-center-tab-text {

	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;

}
.sim-row-content8{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content8-title{

	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content8-center{
	margin-top: 40px;
	text-align: center;
}
.sim-row-content8-center-tab{
	margin:10px;
	padding-bottom: 15px;
	display: inline-block;
	text-align: left;
}


.sim-row-content8-center-tab-image{
	text-align: center;
	overflow: hidden;
}

.sim-row-content8-center-tab-title{
	color: #00ACCC;

	transition: all 0.5s;
	margin-top: 15px;
	padding: 0 10px;
}
.sim-row-content8-center-tab-text {
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;
	padding: 0 10px;
}

.sim-row-content11{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
}
.sim-row-content11-title{

	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content11-center{
	margin-top: 40px;
}
.sim-row-content11-center-tab{
	display: inline-block;
	padding: 20px;
}
.sim-row-content11-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content11-center-tab-image{
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
.sim-row-content11-center-tab-image img {
	height: auto;
}
.sim-row-content11-center-tab-title{
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
}
.sim-row-content11-center-tab-text {
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;
	margin-top: 5px;
}
.sim-row-content11-center-tab-text-link {

	margin-top: 15px;
}
.sim-row-content11-center-tab-text-link a {
	float: left;
	background-color: rgba(150,111,177,1);

	border-radius: 3px;

	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}

.sim-row-content12{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content12-title{

	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content12-center{
	
	margin-top: 10px;
	text-align: center;
}

.sim-row-content12-center-tab{
	display: inline-block;
	width: 285px;
	padding-bottom: 20px 10px;
	text-align: left;
	margin: 0 10px;

}
.sim-row-content12-center-tab:nth-child(even) {
	margin-right: 0px;
}

.sim-row-content12-center-tab-icon {
	height: 40px;
	width: 40px;
	color: rgba(128,147,161,1);
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}
.sim-row-content12-center-tab-icon i {
	line-height: 40px;
}

.sim-row-content12-center-tab-title{
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	height: 40px;
	line-height: 40px;
}
.sim-row-content12-center-tab-text {
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 1.6em;

}
.sim-row-header3-slider {

    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
    display: inline-block;
}

.sim-row-header4-slider {

    box-sizing: border-box;
    width: 25%;
    text-align: center;
    display: inline-block;
      background-size: cover;
}


.sim-row-header6-slider {
    box-sizing: border-box;
    width: 16.66%;
    text-align: center;
    display: inline-block;
}
/****************字體******************/

.NotoSans{font-family: 'Noto Sans TC', sans-serif;}
.SourceSans{font-family: 'Source Sans Pro','Noto Sans TC', sans-serif;}
.SourceSerif{font-family: 'Source Serif Pro','Noto Sans TC', sans;}
.MicrosoftJhengHei{font-family: 'Microsoft JhengHei', sans-serif;}
.serif{font-family:serif;}
.OpenSans{font-family: 'Open Sans','Noto Sans TC', sans;}
.Oxygen{font-family: 'Oxygen','Noto Sans TC', sans;}
.Andika{font-family: 'Andika','Noto Sans TC', sans;}
.Marcellus{font-family: 'Marcellus','Noto Sans TC', sans;}


.displaySMALL900,.displaySMALL400{
	display: none;
}


div[edit_bg] {
    background-position: center center;
    -webkit-flex: 1;
    flex: 1;
    flex-grow: 1;
    float: none;
    width: 100%;
    position: relative;
    /*padding: 0  !important;*/
}

div[edit_bg]>a.full{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div[edit_bg]>a.full a{
  text-decoration: none;
}



/*media screen max-width: 900px*/

@media only screen and (max-width: 900px){
.sim-row-header4-slider{
  width: 50%;  
}

.sim-row-header3-slider{
  width: 100%;  
}

.sim-row-header6-slider {
  width: 50%;  
}

.displayBIG900{
	display: none !important;
}

.displaySMALL900{
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
}
.sim-row-header1-slider{
	display: inline-block;
}

	.sim-row-header3{
		display: inline-block;
	}


}

/*media screen max-width: 420px*/

@media only screen and (max-width: 420px){

	.sim-row-header3{
		display: inline-block;
	}

	.sim-row-content1-tab{
	  width: 100%;
	}

	.sim-row-header1-slider-left , .sim-row-header1-slider-right{
	  width: 100%;
	}

	.sim-row-header1-slider-left-title , .sim-row-header1-slider-left-subtitle{
	  width: 100%;
	  margin-left: 0;
	  text-align: center;
	}

	.sim-row-header1-slider-left-text{
	  width: 100%;  
	  margin-left: 0;
	  box-sizing: border-box;
	}

	.sim-row-content7-center-tab{
	    width: 100%;  
	  margin-left: 0;
	  padding: 0 20px;
	  box-sizing: border-box;
	}

	.sim-row-header3-slider{
	  width: 100%;  
	}

	.sim-row-header4-slider{
	  width: 100%;  
	}

	.sim-row-header6-slider {
	  width: 100%;  
	}

	.displayBIG420{
		display: none !important;
	}
	.displaySMALL400{
    display: -webkit-flex;
    display: -ms-flexbox;
		display: flex;

	}


}




/****************特殊樣式*****************/

.padding5{
	padding: 5px;
	box-sizing: border-box;
}

.padding10{
	padding: 10px;
	box-sizing: border-box;
}

.padding50{
	padding: 50px;
	box-sizing: border-box;
}



.radiusAll{
	border-radius: 100vh;

}

.radius5{
	border-radius: 5px;

}

.radius10{
	border-radius: 10px;

}

.border_dashed{
	border: 1px dashed #ccc;}

.border_dotted{
	border: 1px dashed #ccc;}

.border_solid{
	border: 1px solid #ccc;}



.hoverOpacity50{
 transition: all 0.3s;
}

.hoverOpacity50:hover{
  opacity: 0.5;
}

.hoverScale12{
 transition: all 0.5s;
}

.hoverScale12:hover
{transform: scale(1.1)}


.hoverRotate7{
 transition: all 0.5s;
}

.hoverRotate7:hover
{ transform: rotate(7deg);}







.animation_fade{
	animation: animation_fade  2s infinite ease-in-out;
}

@keyframes animation_fade{ 
  0%{opacity: 1;}
  10%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 1;}
}

.animation_fade_{
	animation: animation_fade_  2s infinite ease-in-out;
	opacity: 0;
}

@keyframes animation_fade_{ 
  0%{opacity: 0;}
  10%{opacity: 1;}
  50%{opacity: 1;}
  60%{opacity: 0;}
}

.animation_fade50{
	animation: animation_fade50  2s infinite ease-in-out;
	opacity: 0;
}

@keyframes animation_fade50{ 
  0%{opacity: 0;}
  10%{opacity: 0.5;}
  50%{opacity: 0.5;}
  60%{opacity: 0;}
}


/******/






.Align1{
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    height: 0px;
}

.Align2{
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: center;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 0px;
}

.Align3{
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-end;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    
    height: 0px;
    
}

.Align4  {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 0px;
}

.Align5 {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 0px;
}

.Align6{
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 0px;
}


.Align7{
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    -webkit-justify-content: flex-start;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    height: 0px;
}

.Align8{
    display: -webkit-flex;
    -webkit-align-items:  flex-end;
    -webkit-justify-content:  center;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    

   
    height: 0px;


}



.Align9{
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    -webkit-justify-content: flex-end;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    height: 0px;


}

/**/
.textDecoration a{
  text-decoration: underline;
}

/**/

.nobreak{
    display: -webkit-flex  !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/**/

.ParallaxScrolling{
  background-attachment: fixed !important;
}



/**/

@media screen and (orientation:portrait) and ( max-width: 900px){
/*當手機為直立又可視寬在900以下*/
  .Boxheight100{    min-height: 100vw !important;}
  .Boxheight50vh{    min-height: 50vh !important;}
}
